.mat-card-image {

    height: 25vh;
    // width: 20vw;
}
mat-card.mat-card.mat-focus-indicator.example-card {
    /* height: 25vh; */
    width: 20vw;
}
img.mat-card-image {
    border-radius: 15px;
}
.thirdMainDiv{
    margin: 0px 16px;
    display: flex;}